body {
  margin: 0;
  padding: 0;
  background-color: #fffdfd80;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  padding: 30px;
}

.container h1 {
  color: white;
  margin-bottom: 30px;
}

.card {
  width: 300px;
  background-color: #141414;
  margin: 15px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(29, 29, 29, 0.116);
}

.card h2 {
  color: #1d739b;
  margin-bottom: 10px;
}

.card p {
  color: #ffffff8e;
  font-size: 16px;
}

.card strong {
  color: #ffffff8e;
}